/Week1/.ipynb_checkpoints/

/Week1/__pycache__/
/Week1/Improvise a Jazz Solo with an LSTM Network - Assignment 3/.ipynb_checkpoints/
/Week1/Improvise a Jazz Solo with an LSTM Network - Assignment 3/__pycache__/
/Week1/Improvise a Jazz Solo with an LSTM Network - Assignment 3/output/
/Week2/Operations on Word Vectors - Debiasing - Assignment 4/data/glove.6B.50d.txt
/Week3/Neural Machine Translation with Attention - Assignment 6/.ipynb_checkpoints/
/Week3/Neural Machine Translation with Attention - Assignment 6/__pycache__/
