/Week1/.ipynb_checkpoints/
/Week1/__pycache__/
/Week1/Improvise_a_Jazz_Solo_with_an_LSTM_Network_Assignment_3/.ipynb_checkpoints/
/Week1/Improvise_a_Jazz_Solo_with_an_LSTM_Network_Assignment_3/__pycache__/
/Week1/Improvise_a_Jazz_Solo_with_an_LSTM_Network_Assignment_3/output/
/Week2/Operations_on_Word_Vectors_Debiasing_Assignment_4/data/glove.6B.50d.txt
/Week3/Neural_Machine_Translation_with_Attention_Assignment_6/.ipynb_checkpoints/
/Week3/Neural Machine_Translation_with_Attention_Assignment_6/__pycache__/
