/Week1/.ipynb_checkpoints/

/Week1/__pycache__/
/Week1/Improvise a Jazz Solo with an LSTM Network - Assignment 3/.ipynb_checkpoints/
/Week1/Improvise a Jazz Solo with an LSTM Network - Assignment 3/__pycache__/
/Week1/Improvise a Jazz Solo with an LSTM Network - Assignment 3/output/